@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

* {
    margin: 0;
}

html {
    --tamaño-fuente: 10px;

    font-family: "Press Start 2P", system-ui;
    font-size: var(--tamaño-fuente);

    @media (width <=510px) {
        font-size: calc(var(--tamaño-fuente) * 0.75);
    }
}

body {
    writing-mode: horizontal-tb;
    inline-size: 100%;
    block-size: auto;

    margin: 0;
    padding: 0;
}

.header {
    block-size: 96px;
    background-color: #5300c8;
    display: flex;
    align-items: center;
}

.header__titulo {
    color: white;
    inline-size: fit-content;
    margin-inline: auto;
    block-size: 60px;
    margin-block: 0;
    padding-inline-start: 138px;
    line-height: 60px;
    font-size: 2.4rem;

    /* Ajuste de los tres corazanes */
    background-image: url("../assets/imgs/tres_corazones.png");
    background-repeat: no-repeat;
    background-position: center left;

    /* @media(width <= 510px) {

    } */
    @media (width <= 366px) {
        padding-inline: 0;
        block-size: 80px;
        background-position: bottom center;
        line-height: 2;
    }
}

main {
    inline-size: calc(100% - 30px);
    display: flex;
    justify-content: center;
    margin-block-start: 50px;
    padding-block: 60px;
    padding-inline: 10px;

    @media (width <= 1209px) {
        margin: 0;
        padding-block: 40px;
        flex-flow: wrap;
    }
}

.productos {
    inline-size: 758px;
    block-size: 1115px;

    @media (width <= 360px) {
        order: 5;
    }
}

.productos__titulo {
    font-size: 2.4rem;
    inline-size: fit-content;
    margin-inline: auto;
    margin-block-end: 30px;
    text-transform: uppercase;
}

.productos__cards {
    inline-size: 698px;
    block-size: 974px;
    margin-inline: auto;
    box-shadow: -3px 2px 5px gray;
    padding: 15px;

    display: flex;
    flex-flow: wrap;
    gap: 30px;
    justify-content: space-around;
    align-content: flex-start;

    overflow-y: scroll;

    @media (width < 725px) {
        inline-size: 95%;
    }
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    inline-size: 196px;
    block-size: 258px;
    background-color: #5d04d9;
    box-shadow: -3px 2px 5px gray;

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 196px 28px 34px;
}

.card__img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

    inline-size: 176px;
    block-size: 174px;
    /* background-color: white; */
    margin-inline: auto;
    margin-block-start: 10px;

    border: 3px solid black;
    border-radius: 5px;
}

.card__nombre {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    align-self: center;

    color: white;
    inline-size: 176px;
    margin-inline: auto;
    /* margin-block: 10px; */
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 420;
    font-style: normal;
}

.card__precio {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    align-self: center;

    inline-size: 75%;
    color: white;
    font-size: 1.6rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-style: normal;
    margin-inline-start: 10px;
}

.card__boton-eliminar {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    align-self: center;

    display: inline;
    inline-size: 30px;
    block-size: 30px;
    color: blue;
    border-radius: 50px;

    background-image: url("../assets/imgs/bote-de-basura.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5d04d9;

    border: none;
    &:hover {
        background-color: red;
    }
}

.agregar {
    inline-size: 472px;
    block-size: 517px;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 40px;
}

.agregar__titulo {
    inline-size: 392px;
    block-size: 52px;
    text-align: center;

    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;

    @media (width <= 510px) {
        line-height: 52px;
    }
    @media (width <= 476px) {
        line-height: 2;
        inline-size: 278px;
        block-size: 75px;
    }
}

.agregar__form {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-start;
    row-gap: 40px;
    column-gap: 30px;
}

.agregar__input {
    inline-size: 392px;
    block-size: 58px;

    border: none;
    border: 3px solid #03318c;
    border-radius: 30px;
    padding-inline-start: 10px;

    font-family: "IBM Plex Mono", monospace;
    font-size: 1.6rem;

    @media (width <= 476px) {
        inline-size: 320px;
        block-size: 45px;
    }

    @media (width <= 366px) {
        inline-size: 260px;
    }

    &:focus {
        outline: none;
        border-color: green;
    }

    &::placeholder {
        color: #03318c;
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.6rem;
    }
}

.agregar__boton {
    inline-size: 188px;
    block-size: 55px;
    border-radius: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2rem;

    @media (width <= 476px) {
        inline-size: 150px;
        block-size: 50px;
    }

    @media (width <= 366px) {
        inline-size: 120px;
    }
}

.agregar__boton--izquierda {
    background-color: #03318c;
    color: #fff;
}

.agregar__boton--derecha {
    background-color: #fff;
    border-color: #03318c;
    color: #03318c;
}

.footer {
    block-size: 232px;
    background-color: #5300c8;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.footer__titulo {
    color: white;
    inline-size: fit-content;
    block-size: 60px;
    margin-block: 0;
    padding-inline-start: 138px;
    line-height: 60px;
    font-size: 2.4rem;

    /* Ajuste de los tres corazanes */
    background-image: url("../assets/imgs/tres_corazones.png");
    background-repeat: no-repeat;
    background-position: center left;

    @media (width <= 366px) {
        padding-inline: 0;
        block-size: 80px;
        background-position: bottom center;
        line-height: 2;
    }
}

.footer__parrafo {
    font-size: 1.6rem;
    font-family: "IBM Plex Mono", monospace;
    color: #aaa;
    text-align: center;

    &::first-line {
        color: #fff;
        font-weight: bold;
    }
}
